<div class="row">
    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="text-bold"> Audience Profile of Article</h6>
            </div>
            <div class="container-fluid">
                <nvd3 options="vm.genderData.chartOptions" data="vm.genderData.chartData"></nvd3>
                <table class="table datatable-fixed-left" width="100%">
                    <thead>
                        <tr>
                            <th class="text-muted text-semibold">Gender</th>
                            <th class="text-muted text-right text-semibold">Pageviews</th>
                            <th class="text-muted text-right text-semibold">Share</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gender in vm.genderData.data">
                            <td class="text-muted text-semibold">{{gender.type}}</td>
                            <td class="text-muted text-right text-semibold">{{gender.count}}</td>
                            <td class="text-right">
                                <h6 class="text-bold no-margin">{{gender.share}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="text-bold"> </h5>
            </div>
            <div class="container-fluid container-fluid-audience">
                <nvd3 options="vm.ageGroupData.chartOptions" data="vm.ageGroupData.chartData"></nvd3>
                <table class="table datatable-fixed-left" width="100%">
                    <thead>
                        <tr>
                            <th class="text-muted text-semibold">Age Group</th>
                            <th class="text-muted text-right text-semibold">Pageviews</th>
                            <th class="text-muted text-right text-semibold">Share</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="agegroup in vm.ageGroupData.data">
                            <td class="text-muted text-semibold">{{agegroup.type}}</td>
                            <td class="text-muted text-right text-semibold">{{agegroup.count }}</td>
                            <td class="text-right">
                                <h6 class="text-bold no-margin">{{agegroup.share}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="text-bold"> </h5>
            </div>
            <div class="container-fluid container-fluid-audience">
                <nvd3 options="vm.incomeData.chartOptions" data="vm.incomeData.chartData"></nvd3>
                <table class="table datatable-fixed-left" width="100%">
                    <thead>
                        <tr>
                            <th class="text-muted text-semibold">Income Level</th>
                            <th class="text-muted text-right text-semibold">Pageview</th>
                            <th class="text-muted text-right text-semibold">Share</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="income in vm.incomeData.data">
                            <td class="text-muted text-semibold">{{income.type}}</td>
                            <td class="text-muted text-right text-semibold">{{income.count }}</td>
                            <td class="text-right text-bold">
                                <h6 class="text-bold no-margin">{{income.share}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>