<ul class="breadcrumb-elements pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle card-title-icon" data-toggle="dropdown">
            <i class="icon-gear"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" ng-click="updateData()"><i class="icon-database-refresh"></i> Update</a></li>
            <li><a ng-model="hide" ng-click="pdfDownlode()">Export to PDF</a>
            </li>
            <li><a ng-model="hide" ng-click="jpegDownlode()">Export to JPEG</a>
            </li>
        </ul>
    </li>
</ul>
