<div>
<ul class="breadcrumb-elements pull-right">
   <li><a href="#" ng-click="updateData()">PDF</a></li>
</ul>

<!-- 
<script type="text/javascript">
    function generate() {
        var doc = new jsPDF('p', 'pt');
            doc.text("", 14, 16);
            var elem = document.getElementById("basic-table");
            var res = doc.autoTableHtmlToJson(elem);
            console.log(res);
            doc.autoTable(res.columns, res.data, {startY: 20});
            doc.save('table.pdf');
}
</script> -->
</div>