<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="text-bold">Locations</h5>
    </div>
    <div class="panel-body">
        <div class="media-left col-md-6">
            <span class="text-muted">Top Locations</span>
        </div>
        <div class="media-left col-md-6">
            <span class="text-muted">City</span>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="media-left col-md-6">
                    <span class="text-muted">City</span>
                </div>
                <div class="media-left col-md-4">
                    <span class="text-muted">Pageview Share</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            Map View
        </div>
    </div>
</div>